toml~=0.10.0
boto3~=1.9.210
botocore~=1.12.212
docker~=2.2.1
docker-compose~=1.12.0
click~=7.0
watchdog~=0.8.3
tabulate~=0.8.2
certifi~=2019.3.9
tablib~=0.13.0
PyInquirer~=1.0.3
humanize~=0.5.1
six~=1.14.0
